@import './base.css';

#app {
  max-width: 1312px;
  margin: 0 auto;
  padding: 2rem;

  font-weight: normal;
}

@media (min-width: 1312px) {
  body {
    display: flex;
    place-items: center;
  }
}
